<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Directory</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <h1>Index</h1>
      <ul class="directoryList">
        {{#users}}
        <li>
          <img src = {{avatar}}>
          <p><a href="/people">{{name}}</a></p>
          <p>{{job}}, {{company}}</p>
        </li>
        {{/users}}
      </ul>
    </div>
    <script src="userDirectory/app.js" charset="utf-8"></script>
  </body>
</html>
